.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}
.link{
  color:black;
}
.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 350px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color:black;
}

.inputGroup input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.inputGroup input:focus {
  border-color: #0072ff;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #0057cc;
  transform: translateY(-2px);
}